@import url('https://fonts.googleapis.com/css?family=Gayathri|Montserrat&display=swap');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: rgba(255, 255, 255, 1);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color:var(--main-bg-color);
  color: var(--main-txt-color);
}


/*---------------------------Paralax------------------------------*/
.paralax{
  height: 100vh;
  perspective: 100px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}


/*---------------------------Titel------------------------------*/
.paralax-wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
  padding: 0px;
  overflow: hidden;
}

#titelimg{
  position: absolute;  
}

#titelimg img {
  z-index: -5;
  transform:translateZ(-100px) scale(2.45);
  
}

.regular-wrapper {
  width: 100vw;
  background-image: repeating-linear-gradient(-30deg, rgba(185, 185, 185, 0.25), rgba(136, 136, 136, 0.25) 1px,transparent 1px, transparent 6px);
  background-size: 6px 6px;
  background-color: var(--main-bg-color);
  z-index: 1;
  position: relative;
  padding-bottom: 100px;
}

.titelcontainer {
  margin-left: 19%;
}

.titel {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 62px;
  padding-top: 65vh;
  display:none;
  color: var(--main-txt-color);
  text-transform: uppercase;
}

.hr1 {
  opacity: 0;
  color: var(--main-txt-color);
}

.trans--grow {
  -webkit-transition: width 2s ease-out; /* For Safari 3.1 to 6.0 */
  transition: width 2s  ease-out;
  width : 0px;
}
.grow{
  margin-left: 0%;
  width:35%;
  opacity: 100;
  
}
.untertitel {
  font-family: 'Gayathri', sans-serif;
  font-size: 42px;
  text-align: left;
  padding-top: 16px;
  color: var(--main-txt-color);
  display:none;
  text-transform: lowercase;
}


/*-------------------Projektteil-----------------------------*/

.projects{
  padding-top: 50px;
  max-width: 100%;
  margin-left: 19%;
  margin-right: 10%;
}

/*---------------Projektübersicht---------------*/
/* Create three unequal columns that floats next to each other */
.column {
  position: relative;
  float: left;
  padding: 0px;
  margin-top: 5%;
  margin-bottom: 2%;
  overflow: hidden;
}

/* Left and right column */
.column.side {
  width: 30%;
  padding-right: 3vw;
}

/* Middle column */
.column.middle {
  width: 70%;
  box-shadow: var(--box-shadow);

  /*border: 1px solid tomato;*/
}

.column.middle.hoch {
  width: 30%;
  float: right;
  margin-right: 25%;
  /*border: 1px solid tomato;*/
}

.column.middle img {
  width: 100%;
  transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
  -ms-transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
  -o-transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
}

.column.middle:hover img {
  transform: scale(1.01);
  opacity: 85%;  
}
.column.l:hover img {
  transform: scale(1.01);
  opacity: 85%;  
}
.column.drei:hover img {
  transform: scale(1.01);
  opacity: 85%;  
}

.column.l {
  width: 48%;
  margin-right: 2%;
  box-shadow: var(--box-shadow);
}

.column.l img {
  width: 100%;
  transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
  -ms-transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
  -o-transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
}

.column.drei {
  width: 31.33%;
  box-shadow: var(--box-shadow);
  margin-right: 2%;
}

.column.drei img {
  width: 100%;
  transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
  -ms-transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
  -o-transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1600px) {
  .projects {
    margin-left: 10%;
  }

  .column.side, .column.middle, .column.l {
    width: 100%;
    text-align: center;
  }
  .titel {
    text-align: center;
    font-size: 10vw;
  }

  .untertitel {
    text-align: center;
    font-size: 6vw;
  }

  .thema, h2, p {
    text-align: center;
    padding-left: 0; 
  }
  .titelcontainer {
    margin-left: 0;
    padding: 0;
  }
  .hr1 {
    margin-left: 32.5%;
  }
  .column.middle.hoch{
    width: 50%;
  }
  #titelimg {
    width: 100vh;
  }
}
  
@media screen and (max-width: 900px) {
  h3, p {
    display: none;
  }
  h2 {
    padding-top: 12vw;
  }
}


footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F1F1F1;
  text-align: center;
  padding: 25px;
  height: 80px;
}

